.todo-list-wrapper {
    background: #CFF4D5;
    width: 540px;
    padding: 20px;
    max-height: 365px;
    overflow-y: auto;
    border-radius: 7px;
}
.todolist-inside-wrapper {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 16px;
    font-style: italic;
    border: 1px solid #C4DCC8;
}
.todolist-inside-wrapper .todo-row {
    padding: 0 10px;
    border-bottom: 1px solid #C4DCC8;
}
.todolist-inside-wrapper .todo-row:nth-child(odd) {
    background: #DFF8E3;
}
.todolist-inside-wrapper .todo-row:nth-child(even) {
    background: #D5EFD9;
}
.todolist-inside-wrapper .todo-row:last-child {
    border: none;
}
.todo-row .todo-title {
    flex: 0 0 320px;
}
.todo-row .todo-time {
    flex: 0 0 74px;
    justify-content: center;
    background: rgba(205,205,205,0.4);
}